# Place a copy of this config to ~/.aerospace.toml
# After that, you can edit ~/.aerospace.toml to your liking

# You can use it to add commands that run after AeroSpace startup.
# Available commands : https://nikitabobko.github.io/AeroSpace/commands
after-startup-command = [
  'exec-and-forget /opt/homebrew/bin/borders active_color=0xff2e81e6 inactive_color=0xff754343 width=8.0',
  'exec-and-forget /opt/homebrew/bin/sketchybar',
]

# Notify Sketchybar about workspace change
exec-on-workspace-change = ['/bin/bash', '-c',
    'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE'
]

# Start AeroSpace at login
start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 60

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
# Fallback value (if you omit the key): on-focused-monitor-changed = []
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# You can effectively turn off macOS "Hide application" (cmd-h) feature by toggling this flag
# Useful if you don't use this macOS feature, but accidentally hit cmd-h or cmd-alt-h key
# Also see: https://nikitabobko.github.io/AeroSpace/goodies#disable-hide-app
automatically-unhide-macos-hidden-apps = false

# Possible values: (qwerty|dvorak|colemak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
[key-mapping]
    preset = 'qwerty'

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See:
#                 https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
    inner.horizontal = 12
    inner.vertical =   12
    outer.left =       12
    outer.bottom =     12
    outer.top =        44
    outer.right =      12

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
# Fallback value (if you omit the key): mode.main.binding = {}
[mode.main.binding]

    # All possible keys:
    # - Letters.        a, b, c, ..., z
    # - Numbers.        0, 1, 2, ..., 9
    # - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
    # - F-keys.         f1, f2, ..., f20
    # - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon,
    #                   backtick, leftSquareBracket, rightSquareBracket, space, enter, esc,
    #                   backspace, tab, pageUp, pageDown, home, end, forwardDelete,
    #                   sectionSign (ISO keyboards only, european keyboards only)
    # - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
    #                   keypadMinus, keypadMultiply, keypadPlus
    # - Arrows.         left, down, up, right

    # All possible modifiers: cmd, alt, ctrl, shift

    # All possible commands: https://nikitabobko.github.io/AeroSpace/commands

    # See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
    # You can uncomment the following lines to open up terminal with alt + enter shortcut
    # (like in i3)
    # alt-enter = '''exec-and-forget osascript -e '
    # tell application "Terminal"
    #     do script
    #     activate
    # end tell'
    # '''

    # App shortcuts
    #
    ctrl-alt-cmd-shift-p = 'exec-and-forget open /Applications/Spotify.app'
    ctrl-alt-cmd-shift-t = 'exec-and-forget open /Applications/WezTerm.app'
    ctrl-alt-cmd-shift-w = 'exec-and-forget open /Applications/Arc.app'
    ctrl-alt-cmd-shift-c = 'exec-and-forget open /Applications/Zed.app || open ~/Applications/Zed.app'
    ctrl-alt-cmd-shift-s = 'exec-and-forget open /Applications/Slack.app'
    ctrl-alt-cmd-shift-f = 'exec-and-forget open /System/Library/CoreServices/Finder.app'
    ctrl-alt-cmd-shift-m = 'exec-and-forget open /Applications/Microsoft\ Teams.app'
    ctrl-alt-cmd-shift-o = 'exec-and-forget open /Applications/Microsoft\ Outlook.app'
    ctrl-alt-cmd-shift-g = 'exec-and-forget open ~/Applications/Graphite.app'
    ctrl-alt-cmd-shift-j = 'exec-and-forget open ~/Applications/Jira.app'
    ctrl-alt-cmd-shift-h = 'exec-and-forget open ~/Applications/GitHub\ Desktop.app'

    # See: https://nikitabobko.github.io/AeroSpace/commands#layout
    alt-comma = 'layout accordion horizontal vertical'
    alt-period = 'layout tiles horizontal vertical'
    alt-slash = 'layout floating tiling'
    alt-shift-f = 'fullscreen'

    # See: https://nikitabobko.github.io/AeroSpace/commands#focus
    alt-f12 = 'focus left'
    alt-d = 'focus down'
    alt-p = 'focus up'
    alt-g = 'focus right'

    alt-left = 'focus left'
    alt-right = 'focus right'
    alt-up = 'focus up'
    alt-down = 'focus down'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move
    alt-shift-f12 = 'move left'
    alt-shift-d = 'move down'
    alt-shift-p = 'move up'
    alt-shift-g = 'move right'

    # See: https://nikitabobko.github.io/AeroSpace/commands#resize
    alt-minus = 'resize smart -50'
    alt-shift-equal = 'resize smart +50'

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace
    # ctrl-left  = 'workspace prev'
    # ctrl-right = 'workspace next'

    alt-a = 'workspace A'
    alt-r = 'workspace R'
    alt-s = 'workspace S'
    alt-t = 'workspace T'

    alt-n = 'workspace N'
    alt-e = 'workspace E'
    alt-i = 'workspace I'
    alt-o = 'workspace O'

    alt-z = 'workspace Z'
    alt-x = 'workspace X'
    alt-c = 'workspace C'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
    alt-shift-a = ['move-node-to-workspace A', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-r = ['move-node-to-workspace R', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-s = ['move-node-to-workspace S', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-t = ['move-node-to-workspace T', 'exec-and-forget sketchybar --trigger moved_app_workspace']

    alt-shift-n = ['move-node-to-workspace N', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-e = ['move-node-to-workspace E', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-i = ['move-node-to-workspace I', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-o = ['move-node-to-workspace O', 'exec-and-forget sketchybar --trigger moved_app_workspace']

    alt-shift-z = ['move-node-to-workspace Z', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-x = ['move-node-to-workspace X', 'exec-and-forget sketchybar --trigger moved_app_workspace']
    alt-shift-c = ['move-node-to-workspace C', 'exec-and-forget sketchybar --trigger moved_app_workspace']

    # See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
    # alt-tab = 'workspace-back-and-forth'

    # See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
    # alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

    # See: https://nikitabobko.github.io/AeroSpace/commands#mode
    alt-shift-semicolon = 'mode service'




# 'service' binding mode declaration.
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
[mode.service.binding]
    esc = ['reload-config', 'mode main']
    r = ['flatten-workspace-tree', 'mode main'] # reset layout
    backspace = ['close-all-windows-but-current', 'mode main']

    # sticky is not yet supported https://github.com/nikitabobko/AeroSpace/issues/2
    #s = ['layout sticky tiling', 'mode main']

    alt-shift-f12 = ['join-with left', 'mode main']
    alt-shift-d = ['join-with down', 'mode main']
    alt-shift-p = ['join-with up', 'mode main']
    alt-shift-g = ['join-with right', 'mode main']
